*~
*.o
*.a
*.exe
*.elf
*.asc
*.bin
*.bit
*.json
*.svf
*.timings
*_out.config
*.000
*.hex
*.vvp
*.dfu
*.rpt
*.blif
*.list
FemtoRV/FIRMWARE/firmware.txt
FemtoRV/FIRMWARE/TOOLCHAIN/
FemtoRV/FIRMWARE/TOOLS/firmware_words
FemtoRV/RTL/CONFIGS/my_config.v
FemtoRV/femtosoc.txt
FemtoRV/FIRMWARE/config.mk
FemtoRV/TOOLS/environment.yml
FemtoRV/TOOLS/requirements.txt
