*~
*.o
*.a
*.exe
*.elf
*.asc
*.bin
*.bit
*.json
*.svf
*.timings
*_out.config
*.000
*.hex
*.vvp
*.bm_elf
*.bm_rawhex
*.spi_elf
*.dfu
*.rpt
*.blif
FemtoRV/FIRMWARE/firmware.txt
FemtoRV/FIRMWARE/TOOLCHAIN/
FemtoRV/FIRMWARE/TOOLS/firmware_words
FemtoRV/RTL/CONFIGS/my_config.v
FemtoRV/femtosoc.txt
FemtoRV/FIRMWARE/config.mk
