set_io rgb0 39
set_io rgb1 40
set_io rgb2 41
set_io pmod_1 28
set_io pmod_2 27
set_io pmod_3 26
set_io pmod_4 23
set_io pmoda_1 28
set_io pmoda_2 27
set_io pmoda_3 26
set_io pmoda_4 23
set_io clki_alt 20
set_io clki 44
set_io user_1 48
set_io user_2 47
set_io user_3 46
set_io user_4 45
set_io user_5 42
set_io user_6 38
set_io pmodb_1 48
set_io pmodb_2 47
set_io pmodb_3 46
set_io pmodb_4 45
set_io spi_mosi 14
set_io spi_miso 17
set_io spi_clk 15
set_io spi_io2 18
set_io spi_io3 19
set_io spi_cs 16
set_io uart_tx 21
set_io uart_rx 13
set_io usb_dn 37
set_io usb_dp 34
set_io usb_dp_pu 35
set_io usb_dn_pu 36
set_io dbg_1 20
set_io dbg_2 12
set_io dbg_3 11
set_io dbg_4 25
set_io dbg_5 10
set_io dbg_6 9
