set_io pclk 35

set_io TXD 6
set_io RXD 4

set_io spi_cs_n 16
set_io spi_miso 14
set_io spi_mosi 17
set_io spi_clk  15

set_io D1 45
set_io D2 43
set_io D3 38
set_io D4 36
set_io D5 37

set_io RESET 9
