// 27 MHz clock
IO_LOC "pclk" 52;
IO_PORT "pclk" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

// active low
IO_LOC "RESET" 4;
IO_PORT "RESET" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC "LED[0]" 10;
IO_LOC "LED[1]" 11;
IO_LOC "LED[2]" 13;
IO_LOC "LED[3]" 14;
IO_LOC "LED[4]" 15;
IO_LOC "LED[5]" 16;

IO_PORT "LED[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "LED[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "LED[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "LED[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "LED[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "LED[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

// UART
IO_LOC "TXD" 32;
IO_PORT "TXD" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "RXD" 31;
IO_PORT "RXD" IO_TYPE=LVCMOS33 PULL_MODE=UP;

