# See https://github.com/emard/ulx3s/blob/master/doc/constraints/ulx3s_v20.lpf

## Clock #########################################

LOCATE COMP "pclk" SITE "G2";
IOBUF PORT "pclk" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "pclk" 25 MHZ;

## RESET button ##################################

LOCATE COMP "RESET" SITE "T1"; # fire 2 
IOBUF PORT "RESET" IO_TYPE=LVCMOS33;

## SSD1351/1331 OLED display #####################

LOCATE COMP "oled_DIN" SITE "P3";
LOCATE COMP "oled_CLK" SITE "P4";
LOCATE COMP "oled_CS"  SITE "N2";
LOCATE COMP "oled_DC"  SITE "P1";
LOCATE COMP "oled_RST" SITE "P2";

IOBUF PORT "oled_DIN"  IO_TYPE=LVCMOS33;
IOBUF PORT "oled_CLK"  IO_TYPE=LVCMOS33;
IOBUF PORT "oled_CS"   IO_TYPE=LVCMOS33;
IOBUF PORT "oled_DC"   IO_TYPE=LVCMOS33;
IOBUF PORT "oled_RST"  IO_TYPE=LVCMOS33;

## LEDs ##########################################

LOCATE COMP "D1" SITE "B2";
LOCATE COMP "D2" SITE "C2";
LOCATE COMP "D3" SITE "C1";
LOCATE COMP "D4" SITE "D2";
LOCATE COMP "D5" SITE "D1";

IOBUF PORT "D1"  IO_TYPE=LVCMOS33;
IOBUF PORT "D2"  IO_TYPE=LVCMOS33;
IOBUF PORT "D3"  IO_TYPE=LVCMOS33;
IOBUF PORT "D4"  IO_TYPE=LVCMOS33;
IOBUF PORT "D5"  IO_TYPE=LVCMOS33;

## Buttons ######################################

LOCATE COMP "buttons[0]" SITE "D6";  # power (active low)
LOCATE COMP "buttons[1]" SITE "R1";  # FIRE1
LOCATE COMP "buttons[2]" SITE "R18"; # UP
LOCATE COMP "buttons[3]" SITE "V1";  # DOWN
LOCATE COMP "buttons[4]" SITE "U1";  # LEFT
LOCATE COMP "buttons[5]" SITE "H16"; # RIGHT

IOBUF PORT "buttons[0]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "buttons[1]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
IOBUF PORT "buttons[2]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
IOBUF PORT "buttons[3]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
IOBUF PORT "buttons[4]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
IOBUF PORT "buttons[5]" PULLMODE=DOWN IO_TYPE=LVCMOS33;


## UART ######################################################

LOCATE COMP "TXD"   SITE "L4"; # FPGA transmits to ftdi
LOCATE COMP "RXD"   SITE "M1"; # FPGA receives from ftdi

IOBUF PORT "TXD" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "RXD" PULLMODE=UP IO_TYPE=LVCMOS33;

## SPI Flash #################################################

# ULX3S has spi clk shared with ESP32, using USRMCLK (see femtosoc.v)	

LOCATE COMP "spi_mosi" SITE "W2"; 
LOCATE COMP "spi_miso" SITE "V2";
LOCATE COMP "spi_cs_n" SITE "R2"; 

IOBUF PORT "spi_mosi"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "spi_miso"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "spi_cs_n"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

## SD card ####################################################

LOCATE COMP "sd_clk"  SITE "H2"; 
LOCATE COMP "sd_mosi" SITE "J1"; 
LOCATE COMP "sd_miso" SITE "J3";
LOCATE COMP "sd_cs_n" SITE "K2"; 

IOBUF PORT "sd_clk"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sd_mosi" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sd_miso" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sd_cs_n" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4; 

# wifi_en / ESP32 #############################################

LOCATE COMP "wifi_en"  SITE "F1";
IOBUF PORT "wifi_en" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

# GPDI differential interface (Video) #########################

#  Note: IO_TYPE=LVCMOS33D, then we only need to drive 
#  the + side of each differential pair
#  (Blue +, Green +, Red +, Clock +), the - sides are
#  automatically generated.

LOCATE COMP "gpdi_dp[0]" SITE "A16"; # Blue +
LOCATE COMP "gpdi_dn[0]" SITE "B16"; # Blue -
LOCATE COMP "gpdi_dp[1]" SITE "A14"; # Green +
LOCATE COMP "gpdi_dn[1]" SITE "C14"; # Green -
LOCATE COMP "gpdi_dp[2]" SITE "A12"; # Red +
LOCATE COMP "gpdi_dn[2]" SITE "A13"; # Red -
LOCATE COMP "gpdi_dp[3]" SITE "A17"; # Clock +
LOCATE COMP "gpdi_dn[3]" SITE "B18"; # Clock -
IOBUF PORT "gpdi_dp[0]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dn[0]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dp[1]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dn[1]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dp[2]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dn[2]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dp[3]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dn[3]" IO_TYPE=LVCMOS33D DRIVE=4;

