LOCATE COMP "pclk" SITE "A10";
IOBUF PORT "pclk" IO_TYPE=LVCMOS33;

LOCATE COMP "RESET" SITE "P4";
IOBUF PORT "RESET" IO_TYPE=LVCMOS33;

LOCATE COMP "oled_DIN" SITE "D11";
LOCATE COMP "oled_CLK" SITE "D12";
LOCATE COMP "oled_CS"  SITE "D13";
LOCATE COMP "oled_DC"  SITE "E12";
LOCATE COMP "oled_RST" SITE "E13";

IOBUF PORT "oled_DIN"  IO_TYPE=LVCMOS33;
IOBUF PORT "oled_CLK"  IO_TYPE=LVCMOS33;
IOBUF PORT "oled_CS"   IO_TYPE=LVCMOS33;
IOBUF PORT "oled_DC"   IO_TYPE=LVCMOS33;
IOBUF PORT "oled_RST"  IO_TYPE=LVCMOS33;

LOCATE COMP "D1" SITE "B17";
LOCATE COMP "D2" SITE "A17";
LOCATE COMP "D3" SITE "C17";
LOCATE COMP "D4" SITE "B18";
LOCATE COMP "D5" SITE "A18";

IOBUF PORT "D1"  IO_TYPE=LVCMOS33;
IOBUF PORT "D2"  IO_TYPE=LVCMOS33;
IOBUF PORT "D3"  IO_TYPE=LVCMOS33;
IOBUF PORT "D4"  IO_TYPE=LVCMOS33;
IOBUF PORT "D5"  IO_TYPE=LVCMOS33;
