set_io rgb0 A5
set_io rgb1 B5
set_io rgb2 C5
set_io clki F4
set_io user_1 E4
set_io user_2 D5
set_io user_3 E5
set_io user_4 F5
set_io spi_mosi F1
set_io spi_miso E1
set_io spi_clk D1
set_io spi_io2 F2
set_io spi_io3 B1
set_io spi_cs C1
set_io usb_dn A2
set_io usb_dp A1
set_io usb_dp_pu A4
