set_io pclk 21

set_io oled_DIN  91
set_io oled_CLK  90
set_io oled_CS   88
set_io oled_DC   87
set_io oled_RST  78

set_io D1 99
set_io D2 98
set_io D3 97
set_io D4 96
set_io D5 95

set_io TXD 8
set_io RXD 9

set_io ledmtx_DIN  60
set_io ledmtx_CS   56
set_io ledmtx_CLK  48
