//Part Number: GW1NR-LV9QN88PC6/I5

IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "led[0]" 10;
IO_PORT "led[0]" IO_TYPE=LVCMOS18 PULL_MODE=NONE;
IO_LOC  "led[1]" 11;
IO_PORT "led[1]" IO_TYPE=LVCMOS18 PULL_MODE=NONE;
IO_LOC  "led[2]" 13;
IO_PORT "led[2]" IO_TYPE=LVCMOS18 PULL_MODE=NONE;
IO_LOC  "led[3]" 14;
IO_PORT "led[3]" IO_TYPE=LVCMOS18 PULL_MODE=NONE;
IO_LOC  "led[4]" 15;
IO_PORT "led[4]" IO_TYPE=LVCMOS18 PULL_MODE=NONE;
IO_LOC  "led[5]" 16;
IO_PORT "led[5]" IO_TYPE=LVCMOS18 PULL_MODE=NONE;
IO_LOC  "key_i" 3;
IO_PORT "key_i" IO_TYPE=LVCMOS18 PULL_MODE=UP;
IO_LOC  "rst_i" 4;
IO_PORT "rst_i" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "clk_i" 52;
IO_PORT "clk_i" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LED_R" 10;
IO_PORT "LED_R" IO_TYPE=LVCMOS18 PULL_MODE=NONE;
IO_LOC  "LED_G" 11;
IO_PORT "LED_G" IO_TYPE=LVCMOS18 PULL_MODE=NONE;
IO_LOC  "LED_B" 13;
IO_PORT "LED_B" IO_TYPE=LVCMOS18 PULL_MODE=NONE;

// Use buildin USB-serial
IO_LOC  "TXD" 17;
IO_PORT "TXD" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "RXD" 18;
IO_PORT "RXD" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// fake
IO_LOC  "led[6]" 35;
IO_PORT "led[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "led[7]" 33;
IO_PORT "led[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

// oser
IO_LOC  "oser_out" 10;
IO_PORT "oser_out" IO_TYPE=LVCMOS18 PULL_MODE=NONE;
IO_LOC  "io16"     29;
IO_PORT "io16"     IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "pclk_o"   15;
IO_PORT "pclk_o"   IO_TYPE=LVCMOS18 PULL_MODE=NONE;
IO_LOC  "fclk_o"   16;
IO_PORT "fclk_o"   IO_TYPE=LVCMOS18 PULL_MODE=NONE;

// ides
IO_LOC  "fclk_i" 54;
IO_PORT "fclk_i" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "data_i" 29;
IO_PORT "data_i" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "q_o[0]" 68;
IO_PORT "q_o[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "q_o[1]" 69;
IO_PORT "q_o[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "q_o[2]" 70;
IO_PORT "q_o[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "q_o[3]" 75;
IO_PORT "q_o[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "q_o[4]" 74;
IO_PORT "q_o[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "q_o[5]" 73;
IO_PORT "q_o[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "q_o[6]" 72;
IO_PORT "q_o[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "q_o[7]" 71;
IO_PORT "q_o[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

// RGB LCD
IO_LOC  "LCD_B[0]" 54;
IO_PORT "LCD_B[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_LOC  "LCD_B[1]" 53;
IO_PORT "LCD_B[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_LOC  "LCD_B[2]" 51;
IO_PORT "LCD_B[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_LOC  "LCD_B[3]" 42;
IO_PORT "LCD_B[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_LOC  "LCD_B[4]" 41;
IO_PORT "LCD_B[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_LOC  "LCD_CLK" 35;
IO_PORT "LCD_CLK" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_LOC  "LCD_DEN" 33;
IO_PORT "LCD_DEN" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_LOC  "LCD_G[0]" 70;
IO_PORT "LCD_G[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_LOC  "LCD_G[1]" 69;
IO_PORT "LCD_G[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_LOC  "LCD_G[2]" 68;
IO_PORT "LCD_G[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_LOC  "LCD_G[3]" 57;
IO_PORT "LCD_G[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_LOC  "LCD_G[4]" 56;
IO_PORT "LCD_G[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_LOC  "LCD_G[5]" 55;
IO_PORT "LCD_G[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_LOC  "LCD_HYNC" 40;
IO_PORT "LCD_HYNC" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_LOC  "LCD_R[0]" 75;
IO_PORT "LCD_R[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_LOC  "LCD_R[1]" 74;
IO_PORT "LCD_R[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_LOC  "LCD_R[2]" 73;
IO_PORT "LCD_R[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_LOC  "LCD_R[3]" 72;
IO_PORT "LCD_R[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_LOC  "LCD_R[4]" 71;
IO_PORT "LCD_R[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_LOC  "LCD_SYNC" 34;
IO_PORT "LCD_SYNC" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_LOC  "LCD_XR"   32;
IO_PORT "LCD_XR" IO_TYPE=LVCMOS33;
IO_LOC  "LCD_XL"   39;
IO_PORT "LCD_XL" IO_TYPE=LVCMOS33;

IO_LOC  "tlvds_p" 25;
IO_PORT "tlvds_p" PULL_MODE=NONE IO_TYPE=LVDS25;
IO_LOC  "tlvds_n" 26;
IO_PORT "tlvds_n" PULL_MODE=NONE IO_TYPE=LVDS25;

IO_LOC  "mipi_out[0]" 25;
IO_PORT "LCD_XL" IO_TYPE=LVCMOS33;
IO_LOC  "mipi_out[1]" 26;
IO_PORT "LCD_XL" IO_TYPE=LVCMOS33;

IO_LOC  "mipi_in[0]" 80;
IO_PORT "mipi_in[0]" IO_TYPE=LVCMOS18;
IO_LOC  "mipi_in[1]" 79;
IO_PORT "mipi_in[1]" IO_TYPE=LVCMOS18;

IO_LOC  "i3c" 25;
IO_PORT "i3c" IO_TYPE=LVCMOS33;

IO_LOC  "elvds_p" 75;
IO_PORT "elvds_p" PULL_MODE=NONE IO_TYPE=LVDS25;
IO_LOC  "elvds_n" 74;
IO_PORT "elvds_n" PULL_MODE=NONE IO_TYPE=LVDS25;

//DVI
IO_LOC  "tmds_d_p[0]" 71;
IO_PORT "tmds_d_p[0]" PULL_MODE=NONE DRIVE=8;
IO_LOC  "tmds_d_n[0]" 70;
IO_PORT "tmds_d_n[0]" PULL_MODE=NONE DRIVE=8;
IO_LOC  "tmds_d_p[1]" 73;
IO_PORT "tmds_d_p[1]" PULL_MODE=NONE DRIVE=8;
IO_LOC  "tmds_d_n[1]" 72;
IO_PORT "tmds_d_n[1]" PULL_MODE=NONE DRIVE=8;
IO_LOC  "tmds_d_p[2]" 75;
IO_PORT "tmds_d_p[2]" PULL_MODE=NONE DRIVE=8;
IO_LOC  "tmds_d_n[2]" 74;
IO_PORT "tmds_d_n[2]" PULL_MODE=NONE DRIVE=8;
IO_LOC  "tmds_clk_p" 69;
IO_PORT "tmds_clk_p" PULL_MODE=NONE DRIVE=8;
IO_LOC  "tmds_clk_n" 68;
IO_PORT "tmds_clk_n" PULL_MODE=NONE DRIVE=8;

INS_LOC  "clk_div" TOPSIDE[0];

IO_LOC  "div_led" 10;
IO_PORT "div_led" IO_TYPE=LVCMOS18 PULL_MODE=NONE;

