IO_LOC "CLK" 52;
IO_PORT "CLK" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC "LEDS[0]" 10;
IO_LOC "LEDS[1]" 11;
IO_LOC "LEDS[2]" 13;
IO_LOC "LEDS[3]" 14;
IO_LOC "LEDS[4]" 15;
//IO_LOC "LEDS[5]" 16;

IO_LOC "RESET" 4;

IO_LOC "TXD" 32;
IO_PORT "TXD" PULL_MODE=UP;
IO_LOC "RXD" 31;
IO_PORT "RXD" PULL_MODE=UP;

